<form
  [formGroup]="addressForm"
  (ngSubmit)="submitAddress(addressForm)"
  novalidate
>
  <mat-form-field fxFill appearance="fill">
    <mat-label>Ország</mat-label>
    <mat-select formControlName="country">
      <mat-option required value="Magyarország">Magyarország</mat-option>
    </mat-select>
    <mat-error>Válassza ki az országot!</mat-error>
  </mat-form-field>

  <mat-form-field fxFill appearance="fill">
    <mat-label>Megye</mat-label>
    <input matInput type="text" formControlName="region" required />
    <!-- <mat-hint>Megfelelő formátum: nev@domain.hu</mat-hint> -->
    <mat-error>Adjon meg egy érvényes megyét!</mat-error>
  </mat-form-field>

  <mat-form-field fxFill appearance="fill">
    <mat-label>Város</mat-label>
    <input matInput type="text" formControlName="city" required />
    <!-- <mat-hint>Megfelelő formátum: nev@domain.hu</mat-hint> -->
    <mat-error>Adjon meg egy érvényes várost!</mat-error>
  </mat-form-field>

  <mat-form-field fxFill appearance="fill">
    <mat-label>Irányítószám</mat-label>
    <input matInput type="text" formControlName="zip" required />
    <mat-error>Adjon meg egy érvényes Irányítószámot!</mat-error>
  </mat-form-field>

  <mat-form-field fxFill appearance="fill">
    <mat-label>Utca</mat-label>
    <input matInput type="text" formControlName="street" required />
    <!-- <mat-hint>Megfelelő formátum: nev@domain.hu</mat-hint> -->
    <mat-error>Adjon meg egy érvényes utcát!</mat-error>
  </mat-form-field>

  <mat-form-field fxFill appearance="fill">
    <mat-label>Utca szám</mat-label>
    <input matInput type="text" formControlName="street_number" required />
    <!-- <mat-hint>Megfelelő formátum: nev@domain.hu</mat-hint> -->
    <mat-error>Adjon meg egy érvényes utcát!</mat-error>
  </mat-form-field>

  <mat-form-field fxFill appearance="fill">
    <span matPrefix>+36</span>
    <mat-label>Telefonszám</mat-label>
    <input matInput type="text" formControlName="phone" required />
    <mat-hint>Megfelelő formátum: 123456789</mat-hint>
    <mat-error>Adjon meg egy érvényes telefonszámot!</mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" style="padding: 10px">
    <button type="submit" mat-raised-button color="accent">
      Cím hozzáadása
    </button>
  </div>
</form>
