<div *ngIf="role === 'ADMIN'; else elseBlock">
    <mat-toolbar color="primary">
      <div class="home">
        <a
          [routerLink]="['']"
          routerLinkActive="router-link-active"
          fxFlexOffset="10"
          fxLayout="column"
          fxLayoutAlign=" none"
          style="text-decoration: none; color: white"
        >
          <span style="font-size: larger">EVER</span>
          <span style="margin-top: -10px">DRINK</span>
        </a>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxFlexOffset="5"
        class="users"
        style="width: 120px; height: 60px"
      >
        <a
          fxFill
          [routerLink]="['users']"
          routerLinkActive="router-link-active"
          style="border: none; text-decoration: none; color: white"
        >
          <span fxLayout="row" fxLayoutAlign="center center" fxFill
            >Felhasználók</span
          >
        </a>
      </div>

      <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlexOffset="5"
      class="checkouts"
      style="width: 120px; height: 60px"
    >
      <a
        fxFill
        [routerLink]="['checkouts']"
        routerLinkActive="router-link-active"
        style="border: none; text-decoration: none; color: white"
      >
        <span fxLayout="row" fxLayoutAlign="center center" fxFill
          >Rendelések</span
        >
      </a>
    </div>
      <span class="example-spacer"></span>
      <app-menu></app-menu>
    </mat-toolbar>
</div>
<ng-template #elseBlock>
  <mat-toolbar color="primary">
    <div class="home">
      <a
        [routerLink]="['']"
        routerLinkActive="router-link-active"
        fxFlexOffset="10"
        fxLayout="column"
        fxLayoutAlign=" none"
        style="text-decoration: none; color: white"
      >
        <span style="font-size: larger">EVER</span>
        <span style="margin-top: -10px">DRINK</span>
      </a>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlexOffset="5"
      class="products"
      style="width: 120px; height: 60px"
    >
      <a
        fxFill
        [routerLink]="['categories']"
        routerLinkActive="router-link-active"
        style="border: none; text-decoration: none; color: white"
      >
        <span fxLayout="row" fxLayoutAlign="center center" fxFill
          >Termékek</span
        >
      </a>
    </div>
    <span class="example-spacer"></span>
    <app-menu></app-menu>
    <a
      mat-icon-button
      [routerLink]="['cart']"
      routerLinkActive="router-link-active"
      class="cart-icon"
      aria-label="Icon button with a cart one icon"
    >
      <mat-icon
        [matBadge]="content"
        [matBadgeHidden]="hidden"
        matBadgeColor="accent"
        >shopping_cart</mat-icon
      >
    </a>
  </mat-toolbar>
</ng-template>
