<div *ngIf="role === 'ADMIN'; else elseBlock">
  <mat-toolbar color="primary">

    <div class="nav-brand-group nav-element">
      <a [routerLink]="['']" routerLinkActive="router-link-active">
        <div class="brand">
          <div>EVER</div>
          <div>DRINK</div>
        </div>
      </a>
    </div>

    <div class="nav-users nav-element">
      <a [routerLink]="['users']" routerLinkActive="router-link-active">
        <div>Users</div>
      </a>
    </div>

    <div class="nav-orders nav-element">
      <a [routerLink]="['checkouts']" routerLinkActive="router-link-active">
        <div>Orders</div>
      </a>
    </div>

    <div class="nav-setting-group">
      <app-menu></app-menu>
    </div>

  </mat-toolbar>
</div>
<ng-template #elseBlock>
  <mat-toolbar color="primary">

    <div class="nav-brand-group nav-element">
      <a [routerLink]="['']" routerLinkActive="router-link-active">
        <div class="brand">
          <div>EVER</div>
          <div>DRINK</div>
        </div>
      </a>
    </div>

    <div class="nav-products nav-element">
      <a [routerLink]="['categories']" routerLinkActive="router-link-active">
        Products
      </a>
    </div>

    <div class="nav-setting-group">
      <div class="nav-setting-group-menu">
        <app-menu></app-menu>
      </div>
      <div class="nav-setting-group-cart">
        <a mat-icon-button [routerLink]="['cart']" routerLinkActive="router-link-active" class="cart-icon"
          aria-label="Icon button with a cart one icon">
          <mat-icon [matBadge]="content" [matBadgeHidden]="hidden" matBadgeColor="accent">shopping_cart</mat-icon>
        </a>
      </div>
    </div>

  </mat-toolbar>

</ng-template>