<div class="footer">

    <div class="content" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
            <mat-icon style="padding-right: 5px;">location_on</mat-icon>
            <span style="position:relative; bottom:5px;">2040 Budaörs, Gyár u. 2., BITEP / Teller Ede krt. 111.</span>
        </div>
        <div>
            <mat-icon style="padding-right: 5px;">call</mat-icon>
            <span style="position:relative; bottom:5px;">+36-23/457-454</span>
        </div>
        <div>
            <mat-icon style="padding-right: 5px;">mail</mat-icon>
            <span style="position:relative; bottom:5px;">info@everdrink.hu</span>
        </div>
    </div>
</div>