<div class="location-group footer-group">
    <mat-icon class="loaction-icon">location_on</mat-icon>
    <div class="loaction-name">
        <a href="https://www.google.com/maps/search/?api=1&query=2+Gy%C3%A1r+u.%2C+Buda%C3%B6rs+2040%2C+Magyarorsz%C3%A1g "
            target="_blank">2040 Budaörs, Gyár u. 2., BITEP / Teller Ede krt. 111.</a>
    </div>
</div>
<div class="phone-group footer-group">
    <mat-icon class="phone-icon">call</mat-icon>
    <div class="phone-number">+36-23/457-454</div>
</div>
<div class="mail-group footer-group">
    <mat-icon class="mail-icon">mail</mat-icon>
    <div class="mail-address"><a href="mailto:info@everdrink.hu">info@everdrink.hu</a></div>
</div>