<div class="sign-up">
  <mat-card class="sign-up-card">
    <div class="sign-up-title">
      <h1>Sign in</h1>
    </div>
    <div class="sign-up-form">
      <form [formGroup]="signinForm" (ngSubmit)="signin(signinForm)" novalidate>
        <div class="form-fields">
          <mat-form-field class="field">
            <mat-label>Your e-mail address</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-hint>Valid format: name@domain.com</mat-hint>
            <mat-error>Please provide the e-mail you choose during the registration!</mat-error>
          </mat-form-field>
          <mat-form-field class="field">
            <mat-label>Chosen password</mat-label>
            <mat-pass-toggle-visibility #toggle_first matSuffix></mat-pass-toggle-visibility>
            <input matInput #password type="password" [type]="toggle_first.type" formControlName="password" required />
            <mat-error>Choosing a password is mandatory!</mat-error>
          </mat-form-field>
        </div>
        <div class="sign-up-form-button">
          <button class="sign-up-button" type="submit" mat-raised-button color="accent">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>