<form
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  [formGroup]="signinForm"
  (ngSubmit)="signin(signinForm)"
  novalidate
>
  <div style="padding: 10px" class="1">
    <div>
      <h2>Bejelentkezés</h2>
    </div>
  </div>
  <div style="padding: 10px" class="2">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Az Ön e-mail címe</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-hint>Megfelelő formátum: nev@domain.hu</mat-hint>
        <mat-error
          >Adja meg a regisztráció során használt E-mail címét!</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div style="padding: 10px" class="3">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Választott jelszava</mat-label>
        <input
          matInput
          #password
          type="password"
          formControlName="password"
          required
        />
        <mat-error>Jelszó kitöltése kötelező!</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div style="padding-top: 10px">
    <button mat-raised-button color="accent" type="submit">
      Bejelentkezés
    </button>
  </div>
</form>
