<div
  *ngIf="productService.product"
  fxLayout="row"
  fxLayoutAlign="center center"
  class="card"
>
  <mat-card style="background-color: #efefef; width: 50%" class="product-card">
    <div fxLayout="row" class="content">
      <div style="width: 50%" class="left">
        <div fxLayout="row" fxLayoutAlign="start center" class="content">
          <h2 fxFlexOffset="5">{{ this.productService.product.brand }}</h2>
          <h2 fxFlexOffset="2">{{ this.productService.product.name }}</h2>
        </div>

        <div
          style="padding-top: 20px"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <img
            mat-card-image
            style="width: 100%"
            src="/assets/mockups/beer.mockup.jpg"
            alt="Photo of a beer bottle"
          />
        </div>
      </div>
      <div fxFlexOffset="10" fxLayout="column" style="width: 50%" class="right">
        <mat-card-content fxLayout="column" fxFlexOffset="30">
          <div fxLayout="column" fxLayoutAlign="space-evenly start">
            <div style="padding: 5px;">
              <strong style="font-size: larger;">
                Type:
              </strong>
              <span style="font-size: large;">
                {{ this.productService.product.type }}
              </span>
            </div>
            <div style="padding: 5px;">
              <strong style="font-size: larger;">
                Alcohol content:
              </strong>
              <span style="font-size: large;">
                {{ this.productService.product.alcohol_content }}
              </span>
            </div>
            <div style="padding: 5px;">
              <strong style="font-size: larger;">
                Packaging: 
              </strong>
              <span style="font-size: large;">
                {{ this.productService.product.packaging }}
              </span>
            </div>
            <div style="padding: 5px;">
              <strong style="font-size: larger;">
                Volume:
              </strong>
              <span style="font-size: large;">
                {{ this.productService.product.volume }}
              </span>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
    <div class="actions">
      <mat-card-actions>
        <div
          style="padding-top: 5px"
          fxLayout="row"
          fxLayoutAlign="center"
          class="quantity"
        >
          <div>
            <button
              style="font-size: 25px"
              mat-mini-fab
              color="primary"
              [disabled]="quantity < 2"
              (click)="decrement()"
            >
              -
            </button>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">
            <span
              style="font-size: 40px; padding-left: 80px; padding-right: 80px"
              >{{ quantity }}</span
            >
          </div>

          <div>
            <button
              style="font-size: 25px"
              mat-mini-fab
              color="primary"
              (click)="increment()"
            >
              +
            </button>
          </div>
        </div>

        <div
          style="padding-top: 50px"
          fxLayout="row"
          fxLayoutAlign="center center"
          class="toCart"
        >
          <button
            mat-raised-button
            color="accent"
            aria-label="Icon button with a cart one icon"
            (click)="addToCart()"
          >
            <span style="padding-right: 5px;">Add to Cart</span>
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
