<div *ngIf="productService.product">
  <div class="product-detail">
    <mat-card>
      <div class="product-detail-card">
        <div class="product-detail-title">
          <h2>{{ this.productService.product.brand }}</h2>
          <h2>{{ this.productService.product.name }}</h2>
        </div>
        <img class="product-detail-image" src="/assets/mockups/beer.mockup.jpg" alt="Photo of a beer bottle" />
        <div class="product-detail-summary">
          <table class="summary-table">
            <tbody>
              <tr>
                <td>Type:</td>
                <td>{{ this.productService.product.type }}</td>
              </tr>
              <tr>
                <td>Alcohol content:</td>
                <td>{{ this.productService.product.alcohol_content }}</td>
              </tr>
              <tr>
                <td>Packaging:</td>
                <td>{{ this.productService.product.packaging }}</td>
              </tr>
              <tr>
                <td>Volume:</td>
                <td>{{ this.productService.product.volume }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="product-detail-quantity-setter">
          <button class="product-detail-decrement-button" mat-mini-fab color="primary" [disabled]="quantity < 2"
            (click)="decrement()">
            -
          </button>
          <div class="product-detail-quantity">{{ quantity }}</div>
          <button class="product-detail-increment-button" mat-mini-fab color="primary" (click)="increment()">
            +
          </button>
        </div>
        <div class="product-detail-add-to-cart-button">
          <button class="add-to-cart-button" mat-raised-button color="accent"
            aria-label="Icon button with a cart one icon" (click)="addToCart()">
            <div class="product-detail-button-content">
              <div class="product-detail-button-content-text">Add to Cart</div>
              <mat-icon>add_shopping_cart</mat-icon>
            </div>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>