<div class="form">
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step color="accent" [stepControl]="addressForm" [editable]="isEditable">
      <form [formGroup]="addressForm">
        <div class="form-fields">
          <ng-template matStepLabel>Delivery options</ng-template>
          <mat-form-field class="field" appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option required value="Hungary">Hungary</mat-option>
            </mat-select>
            <mat-error>Please choose a country!</mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="fill">
            <mat-label>Region</mat-label>
            <input matInput type="text" formControlName="region" required />
            <mat-error>Please provide a valid region!</mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city" required />
            <mat-error>Please provide a valid city!</mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="fill">
            <mat-label>ZIP Code</mat-label>
            <input matInput type="text" formControlName="zip" required />
            <mat-hint>Valid format: 1234</mat-hint>
            <mat-error>Please provide a valid ZIP Code!</mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput type="text" formControlName="street" required />
            <mat-error>Please provide a valid street!</mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="fill">
            <mat-label>Street number</mat-label>
            <input matInput type="text" formControlName="street_number" required />
            <mat-error>Please provide a valid street number</mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="fill">
            <span matPrefix>+36</span>
            <mat-label>Phone number</mat-label>
            <input matInput type="text" formControlName="phone" required />
            <mat-hint>Valid format: 123456789</mat-hint>
            <mat-error>Please provide a valid phone number!</mat-error>
          </mat-form-field>
          <div class="form-stepper-button">
            <button class="form-button" mat-raised-button color="accent" matStepperNext (click)="addAddress()">
              <span>Next</span>
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step color="accent" [stepControl]="fileForm">
      <div class="form-title">
        <div>Please upload your operating licence!</div>
        <div>Valid format .png</div>
      </div>
      <form [formGroup]="fileForm">
        <div class="form-fields">
          <ng-template matStepLabel>Operating licence</ng-template>
          <div class="file-input">
            <input type="file" formControlName="file" id="file" (change)="handleFileInput($event.target.files)"
              required />
          </div>
        </div>

        <div class="form-stepper-button">
          <button class="form-button" mat-raised-button color="accent" matStepperNext (click)="addFile()">
            <span>Next</span>
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step color="accent">
      <ng-template matStepLabel>Final step</ng-template>
      <div class="stepper-final-message">
        <div class="final-message-group">
          <div class="material-icons check-icon">check_circle</div>
          <div class="final-message">
            You finished filling the necessary data.</div>
        </div>
      </div>

      <div class="form-stepper-button">
        <button class="form-button" mat-raised-button color="accent" matStepperNext (click)="done()">
          <span>
            To Main page
          </span>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>