<div class="content">
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step label="Szállítási adatok">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div style="padding: 10px; width: 50%">
          <app-address></app-address>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end none">
        <button mat-flat-button color="primary" matStepperNext>Tovább</button>
      </div>
    </mat-step>
    <mat-step label="Működési engedély">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div style="padding: 50px; width: 50%">
          <app-file></app-file>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end none">
        <button mat-flat-button color="primary" matStepperNext>Tovább</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Vége</ng-template>
      <div fxLayout="column" fxLayoutAlign="center center" style="padding: 100px;">
        <div fxLayout="row" fxLayoutAlign=" center">
          <i class="material-icons" style="color: green">check_circle</i>
          <span> Végzett a szükséges adatok kitöltésével.</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end none">
        <button mat-flat-button color="primary" (click)="done()">
          Tovább a főoldalra
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
