<div fxLayout="row" fxLayoutAlign="center center" class="content">
  <mat-expansion-panel style="background-color: #efefef; width: 95%">
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title fxLayout="row" fxLayoutAlign="start none">
        <div>
          <span style="font-weight: 500; font-size: medium">Azonosító: </span>
          <span>{{ user.id }}</span>
        </div>
        <div fxFlexOffset="3">
          <span style="font-weight: 500; font-size: medium">E-mail cím: </span>
          <span>{{ user.email }}</span>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div>
          <span>Vendég</span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutAlign="center center" class="image">
      <img style="width: 700px; height: 800px" src="{{ imagePath }}" alt="" />
    </div>

    <div style="padding-top: 20px;" fxFill fxLayout="row" fxLayoutAlign="center center">
      <div  style="width: 30%;">
        <button
          fxFill
          type="button"
          mat-raised-button
          color="primary"
          (click)="approve()"
        >
          Jóváhagyás
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
