<div class="panel">
  <mat-expansion-panel class="user-panel">
    <mat-expansion-panel-header>
      <div class="panel-header">

        <mat-panel-title>
          <div class="panel-body">
            <div class="panel-row">
              <div class="panel-bold">ID:</div>
              <div>{{ user.id }}</div>
            </div>
            <div class="panel-row">
              <div class="panel-bold">E-mail:</div>
              <div>{{ user.email }}</div>
            </div>
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <div class="panel-row">
            <div>{{ user.role }}</div>
          </div>
        </mat-panel-description>

      </div>
    </mat-expansion-panel-header>


    <div class="panel-image-container"><img class="panel-image" src="{{ imagePath }}" alt="" /></div>

    <div class="panel-approve">
      <button class="panel-approve-button" type="button" mat-raised-button (click)="approve()">
        Approve
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</div>