.example-spacer {
  flex: 1;
}
.flexSpaceBetween {
  justify-content: space-between;
}
button.mat-focus-indicator.mat-stroked-button.mat-button-base.mat-accent {
  width: 120px;
  height: 60px;
  // transform: translateX(70px);
  border: none;
  font-size: 20px;
  color:white;
  transition-duration: 0.5s;

}
button.mat-focus-indicator.mat-stroked-button.mat-button-base.mat-accent:hover {
  // background-color: #ce1471;
  background-color: #38448b;
}
.product-button-container {
  width: 120px;
  height: 60px;
  transform: translateX(70px);
  // border: none;
  // font-size: 20px;
  // color: white;
  // transition-duration: 0.5s;
}