<mat-card class="category-card">
  <mat-card-header class="category-card-header">
    <mat-card-title>{{ category.display_name }}</mat-card-title>
  </mat-card-header>
  <img class="category-card-image" src="/assets/mockups/beer.mockup.jpg" alt="Photo of a beer bottle" />
  <mat-card-content class="category-card-content">
    {{ category.description }}
  </mat-card-content>
  <div class="category-card-actions">
    <a mat-raised-button color="primary" [routerLink]="['/products', category.id]"
      routerLinkActive="router-link-active">
      More
      <mat-icon>arrow_forward_ios</mat-icon>
    </a>
  </div>
</mat-card>