<div *ngIf="(cartService.count$ | async) > 0; else elseBlock">
  <div class="cart">
    <mat-card class="cart-card">
      <div class="cart-card-header">
        <mat-card-title>CART</mat-card-title>
      </div>
      <mat-card-content>
        <div class="orders-in-cart">
          <app-orders-in-cart></app-orders-in-cart>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="cart-delivery-form">
          <mat-form-field appearance="fill">
            <mat-label>Choose delivery option</mat-label>
            <mat-select [(value)]="chosenShipping">
              <mat-option value="delivery">Delivery</mat-option>
              <mat-option value="pickup">Personal reception</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="addresses-in-cart">
          <label id="example-radio-group-label">Please choose your delivery address:</label>
          <div *ngIf="chosenShipping === 'delivery'; else elseBlock">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="chosenAddress">
              <mat-radio-button color="primary" class="example-radio-button"
                *ngFor="let address of addressService.userAddresses" [value]="address">
                <div class="address-in-cart">
                  <span>Country: {{ address.country }}</span>
                  <span>Region: {{ address.region }}</span>
                  <span>City: {{ address.city }}</span>
                  <span>Street: {{ address.street }}</span>
                  <span>Street number: {{ address.street_number }}</span>
                  <span>Phone number: {{ address.phone }}</span>
                </div>
              </mat-radio-button>
            </mat-radio-group>
            <div class="total-in-cart">
              <h2>TOTAL: {{ this.cartService.total$ | async | number }} Ft</h2>
            </div>
          </div>
          <ng-template #elseBlock>
            <div>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="chosenAddress">
                <mat-radio-button class="example-radio-button" color="primary"
                  *ngFor="let address of addressService.adminAddresses" [value]="address">
                  <div class="address-in-cart">
                    <span>Country: {{ address.country }}</span>
                    <span>Region: {{ address.region }}</span>
                    <span>City: {{ address.city }}</span>
                    <span>Street: {{ address.street }}</span>
                    <span>Street number: {{ address.street_number }}</span>
                    <span>Phone number: {{ address.phone }}</span>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="total-in-cart">
              <h2>
                TOTAL:
                {{
                (this.cartService.total$ | async) -
                ((this.cartService.total$ | async) * 4) / 100 | number
                }}
                Ft
              </h2>
            </div>
          </ng-template>
        </div>
        <div class="checkout">
          <button class="checkout-button" mat-raised-button color="primary" [disabled]="!(isLoggedIn$ | async)"
            (click)="checkout()">
            <div class="confirm-order">Confirm Order</div>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<ng-template #elseBlock>
  <app-not-found [msg]="errorMsg"></app-not-found>
</ng-template>