<div fxLayout="row" fxLayoutAlign="center center" class="content">
  <mat-expansion-panel style="background-color: #efefef; width: 95%">
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title fxLayout="row" fxLayoutAlign="start none">
        <div fxLayout="row" fxLayoutAlign=" center">
          <span style="font-weight: 400; font-size: medium"
            >Order ID:</span
          >
        </div>
        <div fxLayout="row" fxLayoutAlign=" center" fxFlexOffset="3">
          <span>{{ checkout.id }}</span>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div>
          <div *ngIf="checkout.shipping === 'DELIVERY'; else elseBlock">
            Delivery
          </div>
          <ng-template #elseBlock>Personal reception</ng-template>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card
      class="panel-content"
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
      style="margin: 20px"
    >
      <div class="user">
        <h2>User</h2>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="product-details"
        >
          <div fxLayout="column" fxLayoutAlign="space-between start">
            <div>
              <strong>ID:</strong> <span> {{ checkout.user.id }}</span>
            </div>
            <div>
              <strong>E-mail:</strong> <span> {{ checkout.user.email }}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 10px" class="address">
        <h2>Delivery addess</h2>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxLayout="column" fxLayoutAlign="space-around start">
            <div>
              <strong>Country:</strong
              ><span> {{ checkout.address.country }}</span>
            </div>
            <div>
              <strong>Region: </strong><span>{{ checkout.address.region }}</span>
            </div>
            <div>
              <strong>City: </strong> <span>{{ checkout.address.city }}</span>
            </div>
            <div>
              <strong>Street: </strong>
              <span> {{ checkout.address.street }}</span>
            </div>
            <div>
              <strong>Street number: </strong
              ><span>{{ checkout.address.street_number }}</span>
            </div>
            <div>
              <strong>Phone number: </strong
              ><span>{{ checkout.address.phone }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <div class="orders">
      <h2>Confirmed orders</h2>
      <app-orders [orders]="checkout.orders"></app-orders>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" style="padding: 10px">
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="finalize()"
      >
        Delivered
      </button>
    </div>
  </mat-expansion-panel>
</div>
