<div class="panel">
  <mat-expansion-panel class="order-panel">
    <mat-expansion-panel-header>

      <mat-panel-title>
        <div class="panel-body">
          <div class="panel-row">
            <div class="panel-bold">Order ID:</div>
            <div>{{ checkout.id }}</div>
          </div>
        </div>
      </mat-panel-title>

      <mat-panel-description>
        <div class="panel-row">
          <div *ngIf="checkout.shipping === 'DELIVERY'; else elseBlock">
            Delivery
          </div>
          <ng-template #elseBlock>Personal reception</ng-template>
        </div>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-card>
      <div class="user-info">
        <div class="user-info-user">
          <h2>User</h2>
          <table class="user-info-table">
            <tbody>
              <tr>
                <td>ID:</td>
                <td>{{ checkout.user.id }}</td>
              </tr>
              <tr>
                <td>E-mail:</td>
                <td>{{ checkout.user.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="user-info-address">
          <h2>Delivery addess</h2>
          <table class="user-address-table">
            <tbody>
              <tr>
                <td>Country:</td>
                <td>{{ checkout.address.country }}</td>
              </tr>
              <tr>
                <td>Region:</td>
                <td>{{ checkout.address.region }}</td>
              </tr>
              <tr>
                <td>City:</td>
                <td>{{ checkout.address.city }}</td>
              </tr>
              <tr>
                <td>Street:</td>
                <td>{{ checkout.address.street }}</td>
              </tr>
              <tr>
                <td>Street number:</td>
                <td>{{ checkout.address.street_number }}</td>
              </tr>
              <tr>
                <td>Phone number:</td>
                <td>{{ checkout.address.phone }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>

    <div class="orders">
      <h2>Confirmed orders</h2>
      <app-orders [orders]="checkout.orders"></app-orders>
    </div>

    <div class="checkout-deliver">
      <button class="checkout-deliver-button" type="button" mat-raised-button color="accent" (click)="finalize()">
        Delivered
      </button>
    </div>
  </mat-expansion-panel>
</div>