.example-spacer {
  flex: 1 1 auto;
}
span.everdrink-text {
  margin-left: 10px;
  margin-right: -10px;
}
.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #5cbdea;
}
button.mat-focus-indicator.mat-stroked-button.mat-button-base.mat-accent {
  width: 160px;
  height: 60px;
  border: none;
  font-size: 20px;
  color: white;
  transition-duration: 0.5s;
}
button.mat-focus-indicator.mat-stroked-button.mat-button-base.mat-accent:hover {
  background-color: #38448b;
}
.users-button-container {
  width: 160px;
  height: 60px;
  transform: translateX(70px);
}
.orders-button-container {
  width: 120px;
  height: 60px;
  transform: translateX(140px);
}
