<div class="card">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Checkout</mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let product of products$ | async">
        <h2>{{product.brand}} {{product.name}}</h2>
        <p>Nettó ár: {{product.net_price | number}} Ft</p>
        <p>Áfa: {{product.vat | number}} Ft</p>
        <p>Bruttó ár: {{product.gross_price | number}} Ft</p>
        <p>Göngyöleg nettó ár: {{product.wrappage_net_price | number}} Ft</p>
        <p>Göngyöleg bruttó ár: {{product.wrappage_gross_price | number}} Ft</p>
        <p>Összesen: {{product.gross_price + product.wrappage_gross_price | number}} Ft</p>
      </div>
      <h2>TOTAL: {{ total$ | async | number}} Ft</h2>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
