@import "variables";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #d1d1d6;
  font-family: Helvetica, Arial, sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  column-gap: 100px;
}

.nav-setting-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
}

.front-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 250px 300px;
}

.footer {
  background: #263238;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  column-gap: 100px;
  padding: 50px;
  margin-top: auto;
}

.footer-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.location-icon {
  position: relative;
  bottom: 7px;
}

.phone-icon {
  position: relative;
  bottom: 7px;
  right: 2px;
}

.mail-icon {
  position: relative;
  bottom: 4px;
  right: 3px;
}

.categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
  margin: 50px auto;
}

.category-card {
  margin: auto 100px;
}

.category-card-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-card-image {
  height: 300px;
  margin: 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-card-content {
  padding: 30px 20px 20px 20px;
}

.category-card-actions {
  display: flex;
  justify-content: end;
  align-items: center;
}

.products {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
}

.product-card-image {
  max-height: 200px;
  max-width: 250px;
  margin: 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card-actions {
  display: flex;
  justify-content: end;
  align-items: center;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.product-detail-card {
  display: grid;
  grid-template-areas:
    "title title"
    "product-image summary"
    "quantity-setter quantity-setter"
    "button button";
}

.product-detail-title {
  grid-area: title;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
}

.product-detail-image {
  max-height: 400px;
  max-width: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  grid-area: product-image;
}

.product-detail-summary {
  grid-area: summary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 100px 50px;
}

.product-detail-quantity-setter {
  grid-area: quantity-setter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-detail-quantity {
  margin: 50px 100px;
}

.product-detail-add-to-cart-button {
  grid-area: button;
}

.product-detail-button-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-detail-button-content-text {
  margin-right: 5px;
}

td:first-child {
  font-weight: bold;
}

td:last-child {
  text-align: right;
}

.product-detail-quantity {
  font-size: xx-large;
}

.product-detail-add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-to-cart-button {
  width: 25%;
}
