@import "variables";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #d1d1d6;
  font-family: Helvetica, Arial, sans-serif;
  // font-size: 14px;
  // font-weight: 400;
  // line-height: 1.5;
  // color: rgb(0, 0, 0);
  // text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav-element {
  margin-right: 100px;
}

.nav-setting-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
}
