@import "variables";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #d1d1d6;
  font-family: Helvetica, Arial, sans-serif;
  // font-size: 14px;
  // font-weight: 400;
  // line-height: 1.5;
  // color: rgb(0, 0, 0);
  // text-decoration: none;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  column-gap: 100px;
}

.nav-setting-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
}

.front-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 250px 300px;
}

.footer {
  background: #263238;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  column-gap: 100px;
  padding: 50px;
  margin-top: auto;
}

.footer-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.categories {
  display: grid;
  grid-template-columns: 1fr;
}

.category-card {
  margin: 50px 100px;
}

.category-card-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-card-image {
  height: 300px;
  margin: 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-card-content {
  padding: 30px 20px 20px 20px;
}

.category-card-actions {
  display: flex;
  justify-content: end;
  align-items: center;
}
