@import "~@angular/material/theming";

@include mat-core();

$everdrink-primary: mat-palette($mat-light-blue, 900);
$everdrink-accent: mat-palette($mat-amber, 300);
$everdrink-warn: mat-palette($mat-red, 400);

$everdrink-theme: mat-light-theme($bookingbundle-primary, $bookingbundle-accent, $bookingbundle-warn);

@include angular-material-theme($everdrink-theme);
