<div class="order">
  <mat-card class="order-card">
    <div class="order-card-header">
      <mat-card-header>
        <mat-card-title>Order</mat-card-title>
        <mat-card-subtitle>Order details</mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="order-content">
      <div class="order-content-product">
        <h2 class="order-content-product-title">{{ order.product.brand }} {{ order.product.name }}</h2>
        <img class="order-content-product-image" mat-card-image src="/assets/mockups/beer.mockup.jpg"
          alt="Photo of a beer bottle" />
      </div>
      <div class="order-content-details">
        <table class="summary-table">
          <tbody>
            <tr>
              <td>Type:</td>
              <td>{{ order.product.type }}</td>
            </tr>
            <tr>
              <td>Alcohol content:</td>
              <td>{{ order.product.alcohol_content }}</td>
            </tr>
            <tr>
              <td>Packaging:</td>
              <td>{{ order.product.packaging }}</td>
            </tr>
            <tr>
              <td>Volume:</td>
              <td>{{ order.product.volume }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="order-content-price">
        <table class="summary-table">
          <tbody>
            <tr>
              <td>Net price:</td>
              <td> {{ order.product.net_price * order.quantity | number }} Ft</td>
            </tr>
            <tr>
              <td>VAT:</td>
              <td>{{ order.product.vat * order.quantity | number }} Ft</td>
            </tr>
            <tr>
              <td>Gross price:</td>
              <td>{{ order.product.gross_price * order.quantity | number }} Ft</td>
            </tr>
            <tr>
              <td>Wrappage net price:</td>
              <td>{{ order.product.wrappage_net_price * order.quantity | number }} Ft</td>
            </tr>
            <tr>
              <td>Wrappage gross price:</td>
              <td>{{ order.product.wrappage_gross_price * order.quantity | number}} Ft</td>
            </tr>
            <tr>
              <td>Total:</td>
              <td>{{ (order.product.gross_price + order.product.wrappage_gross_price) * order.quantity | number }} Ft
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="order-quantity-group">
        <!-- <div class="order-quantity-group-">Quantity:</div>
        <div>{{ order.quantity }}</div> -->

        <table class="quantity-table">
          <tbody>
            <tr>
              <td>Quantity:</td>
              <td class="large-quantity">{{ order.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </mat-card>
</div>